body{
    background-color: whitesmoke;
}

h1{
    color: black;
    text-align: center;
    
}

p{
    color: red;
}

.exemplo-back{
    height: 300px;
    background-color: green;
    background-image: url(../img/imagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.exemplo-background{
    background: gray url(../img/imagem.jpg) no-repeat center;
    height: 300px;
    background-size: cover;
}

